table {
    border-collapse: collapse;
    border: 2px solid darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td, th {
    border: 1px solid lightgray;
    padding: 10px 20px;
    text-align: center;
}

tbody {
    font-size: 95%;
    font-style: italic;
}
  
tfoot {
    font-weight: bold;
}

tr:nth-child(even) td {
    background-color: rgb(230, 230, 230);
}
  
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

caption {
    padding: 10px;
}

table.planets {
    border-collapse: collapse;
    border: 2px solid darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td.planets, th.planets {
    border: 1px solid lightgray;
    padding: 10px 20px;
    text-align: center;
}

th.planets {
    background-color: gainsboro;
}

.planets>tbody {
    font-size: 95%;
    font-style: normal;
}
  
.planets>tfoot {
    font-weight: bold;
}

tr.planets:nth-child(even) td {
    background-color: rgb(230, 230, 230);
}
  
tr.planets:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

.planets>caption {
    padding: 10px;
}

/* ****** FORMS*******************************************************************/

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    min-height: 32px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    resize: vertical;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }